<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BEKOMAX | Terminal</title>
  
  <link rel="stylesheet" href="/static/client_style.css"> 
</head>
<body>

  <!-- ÜST BAR -->
  <div class="top-bar">
    <div>
      <h1 id="pageTitle">📊 Ana Menü</h1>
      <div id="clientInfo" class="sub">Yükleniyor...</div>
    </div>


    <button class="btn-back" onclick="goBack()">⬅ GERİ DÖN</button>
  </div>


  <!-- ANA İÇERİK -->
  <div id="content">
    <div class="loading">Veriler hazırlanıyor, lütfen bekleyin...</div>
  </div>

  <script src="/static/client_script.js"></script> 
</body>
</html>
